<mat-toolbar color="primary">
    <span> <a routerLink="/">My App</a> </span>
    <span class="example-spacer"></span>
    <span>
      <ul>
        <li> <a mat-button routerLink="/create" *ngIf="isAuthenticated">Create Post</a></li>
        <li> <a mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</a></li>
        <li> <a mat-button routerLink="/signup" *ngIf="!isAuthenticated">SignUp</a></li>
        <li> <button mat-button *ngIf="isAuthenticated" (click)="onLogout()"> Logout </button> </li>
      </ul>
    </span>
</mat-toolbar>