:host {
    display: block;
    margin-top: 1rem;
}

.info {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

mat-paginator {
    margin-top: 1rem;
}

.post-image {
    width: 15%;
    margin: 0 auto;
}

.post-image img {
    width: 100%;
}